version: "3.8"

services:
    postgres_merise:
        image: postgres:16.1
        container_name: Postgre-merise-Sarah
        restart: always
        environment:
            POSTGRES_USER: sarah
            POSTGRES_PASSWORD: Oxymore59230
            POSTGRES_HOST: localhost
        ports:
            - 9255:5432
        volumes:
            - ./:/docker-entrypoint-initdb.d